<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Futiba Club </title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/cst/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/cst/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/css/cst/style.css" rel="stylesheet">
    <link href="/css/cst/futiba-interno.css" rel="stylesheet">
    <link href="/css/cst/interface-projeto.css" rel="stylesheet">
</head>

<body>
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light green fixed-top scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="/img-futiba-club/logo.png" height="30" alt="Futiba Club">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                    <% include elements/menu_itens %>
                    
                </div>
            </div>
        </nav>
    </header>

    <section class="content">
        <div class="container">
                <div class="alert alert-info" role="alert">
                        <h5 class="alert-heading">Bem vindo!</h5>
                        <p>Chegou a hora de criar seu grupo de amigos ou entrar em um já existente para começar a fazer seus palpites para os jogos de sua preferência.</p>
                        <p class="mb-0">Vamos lá ! vamos ver quem acerta mais? Dê o seu palpite e desafie seus amigos. Boa Sorte!.</p>
                </div>
                <br>
            <div class="h5">
                <h2 class="featurette-heading">Criar Grupo</h2>
            </div>
            <hr>
            <br>
            <form class="row" method="post">        
                    <div class="md-form">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" class="form-control" name="name">
                            <label for="orangeForm-name">Nome do Grupo</label>
                    </div>
                    
                    <div class="text-center">
                        <button class="">
                         <img class="outline-warning" src="/images/certo.png" width="30" height="28">
                        </button>
                    </div>
                </form>
                <hr>
                <% if(groups.length > 0){ %>
                <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="h5">#</th>
                                <th class="h5 text-center mb-4">Nome do grupo</th>
                                <th class="h5 text-center mb-4"></th>
                                <th class="h5 text-center mb-4">Ações</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <% groups.forEach( group => { %>
                            <tr>
                                <th scope=""><h4><%= group.id %></h4></th>
                                <td class="text-center mb-4">
                                    <a href="/groups/<%= group.id %>"><h4>
                                    <%= group.name %>
                                </h4>
                                    </a>
                                </td>
                                <td class="text-center mb-4"><h4>
                                    <%= group.role %>
                                </h4>
                                </td>
                               <td class="text-center mb-4">
                                    <% if(group.role ==='owner'){ %>
                                    <a href="/groups/delete/<%= group.id %>">
                                    <img class="outline-warning" src="/images/delete.png" width="40" height="40">
                                    </a>
                                    <% } %>
                                </td>
                                <% if(!group.role ){ %>
                                 <td class="text-center mb-4">
                                  <a href="/groups/<%= group.id %>/join">
                                    <img src="/images/ac.png" width="34" height="34"><h5>Solicitar Entrada</h5>
                                  </a>
                                </td>
                                <% } %>
                             </tr>
                            <% }) %>
                         </tbody>
                    </table>
                    <% }else{ %>
                    <p class="alert alert-info">Nenhum Grupo Cadastrado.</p>

                    <% } %>
                        
        </div>
    </section>
    
    <% include elements/footer %>
